---
// Component
import CookieController from "../components/CookieController.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot />
        </main>
        <CookieController />

        <script>
            import {
                speculateLinks,
                PrefetchData,
            } from "@lucidclient/speculate";

            speculateLinks();
            new PrefetchData({
                target: "#load-data-prefetch",
                fetch: async () => {
                    return fetch("https://api.sampleapis.com/wines/reds").then(
                        (res) => res.json(),
                    ) as Promise<
                        Array<{
                            winery: string;
                            wine: string;
                            rating: {
                                average: string;
                                reviews: string;
                            };
                            location: string;
                            image: string;
                            id: number;
                        }>
                    >;
                },
                onClick: (data) => {
                    console.log(data);
                },
                staletime: 10000,
            });

            const loadmore = document.querySelector("#load-data");
            if (loadmore) {
                loadmore?.addEventListener("click", async () => {
                    const data = await fetch(
                        "https://api.sampleapis.com/wines/reds",
                    ).then((res) => res.json());
                    console.log(data);
                });
            }
        </script>
    </body>
</html>
