---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>
    <ul>
        <li>
            <a href="/" rel="prefetch:moderate">Home</a>
            <a href="/elements" rel="prerender:moderate">Elements</a>
        </li>
        <li>
            <a href="/about" rel="prefetch:visible">About</a>
        </li>
    </ul>
</Layout>
