---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>
    <ul>
        <li>
            <a href="/" rel="prefetch-intent">Home</a>
        </li>
        <li>
            <a href="/about" rel="prefetch-intent">About</a>
        </li>
    </ul>
</Layout>
