---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>
    <ul>
        <li>
            <a href="/" data-prefetch>Home</a>
        </li>
        <li>
            <a href="/about" data-prefetch>About</a>
        </li>
    </ul>
</Layout>
