---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lucid Primitives Playground">
    <h1 class="text-2xl font-bold">
        <a href="/" rel="prefetch:moderate">{"<-"} Home</a>
        - Elements Playground
    </h1>
    <div class="w-full mt-2.5">
        <div
            data-element="exampleStore"
            data-scope="example"

            data-state--boolean="false"
            data-state--number="1"
            data-state--string="hello world"
            data-state--object='{"hello":"world"}'
            data-state--array='["hello","world"]'

            data-bind--data-boolean="example:boolean"
            data-bind--data-number="example:number"
            data-bind--data-string="example:string"
            data-bind--data-object-hello="example:object.hello"
            data-bind--data-array-hello="example:array[0]"
            data-bind--data-custom-state-attribute="example:customState"

            data-handler--on.click="example:handleClick"
            data-handler--on.scroll="example:handleScroll"

            class="data-[state--boolean=true]:bg-red-500"
        >
        		<span data-bind--data-boolean="example:boolean" data-ref="example:span[]"></span>
        		<span data-bind--data-number="example:number" data-ref="example:span[]"></span>
        		<span data-bind--data-string="example:string" data-ref="example:span[]"></span>
        		<span data-bind--data-object-hello="example:object.hello" data-ref="example:span[]"></span>
        		<span data-bind--data-array-hello="example:array[0]" data-ref="example:span[]"></span>
            <button
                data-bind--disabled="example:boolean"
                data-handler--on.click="example:handleClick"
                data-handler--dom.text="$example:boolean ? 'Hide Content' : 'Show Content'"
                data-ref="example:button"
            >
                Show Content
            </button>
        </div>
    </div>
</Layout>
