---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lucid Primitives Playground">
    <h1>Lucid Primitives Playground</h1>
    <ul>
        <li>
            <a href="/" rel="prefetch:moderate">Home</a>
        </li>
        <li class="h-[1000px]">
            <a href="/elements" rel="prerender:moderate">Elements</a>
        </li>
        <li>
            <a href="/about" rel="prerender:moderate">About</a>
        </li>
        <li>
            <button id="load-data-prefetch">Load Data (prefetch)</button>
            <button id="load-data">Load Data (standard)</button>
        </li>
    </ul>
</Layout>
